/* ========================================================================= Globals SCSS ========================================================================= */
@import './Stylesheets/Globals.css';
@import './global/sidebar/Sidebar.scss';
@import './global/topnav/Topnav.scss';

/* ========================================================================= Components SCSS ===================================================================== */

/* ---------- Loader ---------- */
@import './components/loader/Loader.css';

/* ---------- Tables ---------- */
@import './components/table/Table.scss';

/* ---------- Filter Table Card ---------- */
@import './components/filterTableCard/FilterTableCard.scss';

/* ---------- Cards ---------- */
@import './components/card/Cards.scss';

/* ========================================================================== Pages SCSS ========================================================================= */

/* ---------- Layout ---------- */
@import './layout/Layout.scss';

/* ---------- Login/Signup  ---------- */
@import './pages/login_signup/LoginSignup.scss';

/* ---------- Main Service ---------- */
@import './pages/main_service_pages/addMainService/AddMainService.css';




/* *** *** *** *** MEDIA QUERIES *** *** *** *** */
@media(max-width:768px) {
  .login__signup-wrapper {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }
}

/* *** *** *** *** MEDIA QUERIES *** *** *** *** */