:root {
  --sidebar-background: linear-gradient(0deg, #000000, #5f6061);
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;
  --border-radius: 10px;
  --sidebar-width: 300px;
  --sidebar-footer-height: 70px;
  --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);


  /* Fonts */
  --font-lexend: 'Lexend Deca', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-size-0-85rem: 0.85rem;
  --font-size-0-75rem: 0.75rem;
  --font-size-13px: 13px;
  --font-weight-500: 500;
  --font-size-1rem: 1rem;

  /* Colors */

  --gray-0: 255 255 255;
  --gray-50: 250 250 250;
  --gray-100: 241 241 241;
  --gray-200: 227 227 227;
  --gray-300: 223 223 223;
  --gray-400: 146 146 146;
  --gray-500: 102 102 102;
  --gray-600: 72 72 72;
  --gray-700: 51 51 51;
  --gray-800: 34 34 34;
  --gray-900: 17 17 17;
  --gray-1000: 0 0 0;
  --primary-lighter: 215 227 254;
  --primary-light: 96 142 251;
  --primary-default: 56 114 250;
  --primary-dark: 29 88 216;
  --secondary-lighter: 227 215 252;
  --secondary-light: 138 99 210;
  --secondary-default: 121 40 202;
  --secondary-dark: 76 40 137;
  --red-lighter: 247 212 214;
  --red-light: 255 26 26;
  --red-default: 238 0 0;
  --red-dark: 197 0 0;
  --orange-lighter: 255 239 207;
  --orange-light: 247 185 85;
  --orange-default: 245 166 35;
  --orange-dark: 171 87 10;
  --blue-lighter: 211 229 255;
  --blue-light: 50 145 255;
  --blue-default: 0 112 243;
  --blue-dark: 7 97 209;
  --green-lighter: 185 249 207;
  --green-light: 6 193 103;
  --green-default: 4 136 72;
  --green-dark: 3 112 60;

}


button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
}

/* *** *** *** *** Universal Grids Starts *** *** *** *** */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

[class*="col-"] {
  padding: 0 15px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* MEDIUM SCREEN */

@media only screen and (max-width: 1280px) {
  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }
}

/* SMALL SCREEN */

@media only screen and (max-width: 500px) {
  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.66%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.66%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

/* *** *** *** *** Universal Grids Ends *** *** *** *** */

/* *** *** *** *** Sidebar Starts *** *** *** *** */
.sidebar__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100vh;
  display: block;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}

.sidebar__body {
  background: var(--sidebar-background);
  height: 100vh;
  overflow: hidden;
}

.sidebar__logo-wrapper {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f0f0;
}

.sidebar__list-items {
  position: relative;
  list-style: none;
  padding: 0;
  display: block;
  transition: all 0.5s ease;
  height: calc(100vh - 80px);
  width: 100% !important;
  overflow-y: auto;
  font-size: var(--font-size-0-85rem);
  font-weight: var(--sidebar-list-item-font-weight);
}

.sidebar__list:last-child {
  margin-bottom: calc(var(--sidebar-footer-height) + 30px);

}

.sidebar__list-items::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.sidebar_items_heading {
  color: rgb(var(--gray-0));
  padding: 15px 20px;
  margin: 2px 10px;
  font-size: var(--font-size-1rem);
}

.sidebar__list-item {
  position: relative;
  color: rgb(var(--gray-0));
  padding: 15px 20px;
  margin: 4px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 10px;
}

.sidebar__list-item:hover {
  background: #ffffff24;
}

.sidebar__list-item.active {
  background: #fff;
  color: rgb(var(--gray-1000));
  transition: all 0.4s ease;
}

.sidebar__list-icon {
  margin-right: 14px;
  font-size: var(--font-size-0-85rem);
}

.sidebar__list-item-navbtn {
  position: relative;
  color: rgb(var(--gray-0));
  padding: 15px 20px;
  margin: 4px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--font-size-0-85rem);
  font-weight: var(--sidebar-list-item-font-weight);
}

.sidebar__list-item-navbtn:hover {
  background: #ffffff24;

}

.sidebar__list-dot {
  position: absolute;
  right: 40px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgb(0 0 0/91%);
}

.sidebar__list-item-navbtn:hover>.sidebar__list-dot,
.sidebar__list-item:hover>.sidebar__list-dot {
  transform: scale(1.1);
}

.sidebar__list-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}

.sidebar__list-arrow>span {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0px 5px 6px;
  border-color: transparent transparent transparent #fff;
  transition: all 0.2s;

}

.sidebar__list-submenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #00000029;
  overflow: hidden;
  transition: all 0.5s ease;
  margin: 2px 0 2px;
}

.sidebar__footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  -webkit-box-shadow: 0px -10px 14px -10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px -10px 14px -10px rgba(0, 0, 0, 0.22);
  box-shadow: 0px -10px 14px -10px rgba(0, 0, 0, 0.22);
  background: var(--sidebar-background);
}

.sidebar__footer {
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.sidebar__footer>li>a {
  text-decoration: none;
  color: #d8d8d8;
  font-size: 12px;
}

.sidebar__footer>li>a :hover {
  color: #fff;
  transition: all 0.4s ease;
}

.sidebar__footer>i {
  font-size: 4px;
  margin: 5px 5px 0 5px;
  color: #ffffff48;
}



/* *** *** *** *** Sidebar Ends *** *** *** *** */

/* layout */

.layout__content {
  position: relative;
  width: calc(100% - var(--sidebar-width));
  height: 100vh;
  left: var(--sidebar-width);
  transition: all 0.3s ease-in-out;
}

.layout__content-main {
  padding: 30px 20px;
}

/* Top Nav */

.topnav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 20px 0 20px;
  /* background: red; */
}

.topnav__right {
  display: flex;
  align-items: center;
}

.topnav__right-item~.topnav__right-item {
  margin-left: 30px;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 20px;
}

.notification-item:hover {
  background-color: rgb(var(--gray-100));
}

.notification-item>i {
  margin-right: 20px;
  font-size: 1.5rem;
}

.topnav__right-user {
  display: flex;
  align-items: center;
}

.topnav__right-user__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.topnav__right-user__image>img {
  width: 100%;
}

.topnav__right-user__name {
  font-size: 1rem;
  font-weight: 600;
}

/* Dropdown */

.dropdown {
  position: relative;
  z-index: 1;
}

.dropdown__toggle {
  border: 0;
  outline: 0;
  background-color: transparent;
  position: relative;
}

.dropdown__toggle>i {
  font-size: 2rem;
}

.dropdown__toggle-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -12px;
  right: -10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgb(var(--red-default));
  color: rgb(var(--gray-0));
  font-size: 0.8rem;
}

.dropdown__content {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  width: max-content;
  max-width: 400px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  transform-origin: top right;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  text-decoration: none;
  background-color: rgb(var(--gray-0));
}

.dropdown__content.active {
  transform: scale(1);
  transition: transform 0.5s var(--transition-cubic);
}

.dropdown__footer {
  padding: 20px;
  text-align: center;
}

/* *** *** *** *** Table Starts *** *** *** *** */

.card__header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.card__header-box>h1 {
  color: var(--text-in-black);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-wrapper {
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  background: rgb(var(--gray-300));
}

th,
td {
  text-transform: capitalize;
  padding: 15px 10px;
}

td:first-child,
th:first-child {
  padding-left: 20px;

}

thead>tr>th {
  color: rgb(var(--gray-600));
  text-transform: uppercase;
}

tr {
  text-align: left;

}

tbody>tr {
  transition: all 0.3s ease;
  border-bottom: 1px solid rgb(var(--gray-300));
}

tbody>tr:nth-child(even) {
  background-color: rgb(var(--gray-50));
}

tbody>tr:hover {
  background-color: rgb(var(--gray-100));
}

.action__btn-cell {
  display: flex;
}

.action__btn-item {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  color: rgb(var(--gray-500));
  font-size: var(--font-size-0-85rem);
  font-weight: var(--font-weight-500);
  border: 1px solid rgb(var(--gray-300));
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add margin between buttons */
.action__btn-item~.action__btn-item {
  margin-left: 10px;
}



.action__btn-item {
  position: relative;
}

.action__btn-item::before {
  content: attr(data-tooltip);
  position: absolute;
  background: rgb(var(--gray-0));
  color: rgb(var(--gray-500));
  padding: 5px;
  border-radius: 15px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  font-size: var(--font-size-0-75rem);
  font-weight: var(--font-weight-500);
  z-index: 1;
  box-shadow: var(--box-shadow);
  margin-bottom: 5px;
  border: 1px solid rgb(var(--gray-300));
}

.action__btn-item:hover::before {
  opacity: 1;
}



.customer_cell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.customer_cell>i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: rgb(var(--gray-200));
  font-size: var(--font-size-1rem);
}

.customer_cell img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}

.customer_email {
  font-size: var(--font-size-13px);
  color: rgb(var(--gray-500));
}

.table__footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.table__pagination {
  display: flex;
  align-items: center;
}

.table__pagination-item~.table__pagination-item {
  margin-left: 10px;
}

.table__pagination-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.table__pagination-item.active,
.table__pagination-item.active:hover {
  /* background-color: var(--main-color); */
  background-color: #9b9b9b;
  color: var(--txt-white);
  font-weight: 600;
}

.table__pagination-item:hover {
  color: var(--txt-white);
  background-color: #00000024;
}

/* *** *** *** *** Table Ends *** *** *** *** */

/* *** *** *** *** Cards Starts *** *** *** *** */
.card {
  background-color: rgb(var(--gray-0));
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  border: 1px solid #e3e3e3;
}

.card__btn-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.card__btn {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(var(--gray-200));
  color: rgb(var(--gray-600));
  transition: all 0.3s ease;
  font-weight: 600;
  gap: 10px;
}

.card__btn:hover {
  background-color: rgb(var(--gray-1000));
  color: rgb(var(--gray-0));
}

/* *** *** *** *** Cards Ends *** *** *** *** */

/* *** *** *** *** Filter Table Card Starts *** *** *** *** */
.filter__card {
  margin-bottom: 1.5rem;

}

.filter__card-header-box {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__card-header-box i {
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
  background: rgb(var(--gray-100));
  padding: 10px;
  border-radius: 50%;
  color: rgb(var(--gray-600));
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter__table-card-body {
  padding: 20px;
}

.filter__table-card-body form {

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.filter__table-card-body form label {
  display: block;
  font-size: 1rem;
  color: #555;
}

.filter__table-card-body form input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.filter__table-card-body form input:focus {
  border-color: rgb(var(--gray-600));
}

.filter__table-card-body form select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.filter__table-card-body form select:focus {
  border-color: rgb(var(--gray-600));
}

.form-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
}

.form-btn button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(var(--gray-200));
  color: rgb(var(--gray-600));
  transition: all 0.3s ease;
  width: 100px;
}

.form-btn button:hover {
  background-color: rgb(var(--gray-1000));
  color: rgb(var(--gray-0));
}

/* *** *** *** *** Filter Table Card Ends *** *** *** *** */

/* *** *** *** *** FORMS STARTS *** *** *** *** */


/* *** *** *** *** FORMS ENDS *** *** *** *** */

/* *** *** *** *** LOGIN __ SIGNUP STARTS *** *** *** *** */
.login__signup-wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #ff8c6b;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login__signup-container {
  position: relative;
  width: 100%;
  max-width: 1600px;
  height: 900px;
  background: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.login__signup-innerbox {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__signup-forms-wrap {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: all 0.8s ease-in-out;
}

.login__signup-carousel {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 50%;
  top: 0;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.actual-form {
  margin-top: 1.875rem;
}

.login__signup-form-logo {
  margin-bottom: 1.5rem;
}

.login__signup-form-heading h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 2.375rem;
  position: relative;
  margin-bottom: 0.938rem;
}

.login__signup-form-heading h2::after {
  position: absolute;
  content: "";
  width: 7.5rem;
  height: 0.063rem;
  background: #D9D9D9;
  bottom: 0;
  left: 0;
  margin-top: 0.438rem;
}

.login__signup-form-heading h6 {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  color: #515151;
}

.login__signup-forms-wrap form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

.login__signup-forms-wrap .login__signup-form-logo {
  display: flex;
  align-items: center;
}

.input-wrap {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-wrap label,
.signup-input label {
  margin-bottom: 0.2rem;
  display: block;
  font-family: "Nunito Sans", sans-serif;
}

.input-wrap input,
.signup-input input {
  height: 3.125rem;
  background: #F2F2F2;
  outline: none;
  border: none;
  border-radius: 0.425rem;
  width: 100%;
  padding: 0 1rem;
  font-family: "Nunito Sans", sans-serif;
}

input[type="tel"] {
  padding-left: 3rem;
}


.login__signup-btn {
  width: 100%;
  margin-top: 1.25rem;
  text-align: center !important;
  font-family: "Nunito Sans", sans-serif;
}

.defbtn {
  border-radius: 100px;
  border: 1px solid #A7A9AC;
  padding: 18px 80px 18px 20px;
  color: #000;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  text-transform: capitalize;
  background-color: #ffff;
  text-align: left;
  position: relative;
}

.defbtn::after {
  position: absolute;
  content: "→";
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
  color: rgb(var(--gray-0));
  background-color: #000;
  width: 40px;
  height: 40px;
  top: 0;
  right: 7px;
  bottom: 0;
  margin: auto;
  border-radius: 50px;
  transition: .6s all ease-in-out;
  pointer-events: none;
}


.login__signup-break p {
  position: relative;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}

.forgot_password {
  text-align: right;
  font-size: 0.875rem;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

.login__signup-break p::after,
.login__signup-break p::before {
  content: "";
  position: absolute;
  width: 12.5rem;
  height: 1px;
  background: #D9D9D9;
  top: 50%;
  transform: translateY(-50%);
}

.login__signup-break p::before {
  left: 0;
}

.login__signup-break p::after {
  right: 0;
}

.api-signin {
  background: #F7F7F7;
  height: 3.125rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  border-radius: 0.425rem;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.switch_to_signup {
  text-align: center;
  font-size: 0.875rem;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

.signup-input {
  margin-bottom: 1.5rem;
}

.signup-form-heading h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 2.375rem;
  position: relative;
}

.signup-form-heading h6 {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  color: #515151;
}

.login__signup-forms-wrap form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.login__signup-wrapper.sign-up-mode .login__signup-forms-wrap form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

.login__signup-wrapper.sign-up-mode .login__signup-forms-wrap form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

.login__signup-wrapper.sign-up-mode .login__signup-forms-wrap {
  left: 50%;
}

.login__signup-wrapper.sign-up-mode .login__signup-carousel {
  left: 0;
}


/* *** *** *** *** LOGIN __ SIGNUP ENDS *** *** *** *** */




/* *** *** *** *** MEDIA QUERIES *** *** *** *** */
@media(max-width:768px) {
  .login__signup-wrapper {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }
}

/* *** *** *** *** MEDIA QUERIES *** *** *** *** */